---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Whose Who Games">
	<h1>Whose who Game Selection</h1>

	<a href="whose-world-flag">Whose World Flag</a><br />
	<a href="whose-state-flag">Whose State Flag</a>
</MainLayout>
