---
export function getStaticPaths() {
  return [
    {params: {game: 'world-flags'}},
    {params: {game: 'us-state-flags'}},
  ];
}

const { game } = Astro.params;

const response = await fetch('https://res.cloudinary.com/amdtel/raw/upload/game-assets/' + game + '/game-assets.json');
const data = await response.json();

---
<div>You picked {data.title} to play</div>
<p>{data.description}</p>