---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Amdtel-Games">
	<h1>Whose who Game Selection</h1>

	<a href="whose-who/world-flag">Whose World Flag</a><br />
	<a href="whose-who/state-flag">Whose State Flag</a><br />
	<a href="whose-who/world-ru-strip">Whose world Rugby Union strip</a>
</MainLayout>