---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Amdtel-Games">
	<h1>Whose who Game Selection</h1>

	<a href="whose-who/world-flags">Whose World Flag</a><br />
	<a href="whose-who/us-state-flags">Whose State Flag</a><br />
</MainLayout>